html,
body {
    background: radial-gradient(circle, rgba(48, 201, 254, 1) 20%, rgba(243, 208, 156, 1) 67%, rgba(254, 83, 83, 1) 82%, rgba(22, 97, 127, 1) 87%, rgba(24, 25, 25, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin-bottom: 0;
}

#logo {
    display: flex;
    width: 5em;
    margin-left: auto;
    position: relative;
    top: -100%;
}

#main {
    padding: 0;
}

.about-head {
    text-align: center;
    font-size: clamp(45px, 7vw, 110px);
    height: 100%;
    width: 50%;
    margin: auto;
    color: #FFFFFF;
    text-shadow: 4px 4px 5px black, 2px 2px 0 rgb(0, 1, 61), 2px -2px 0 rgb(0, 1, 61), -2px 2px 0 rgb(0, 1, 61), -2px -2px 0 rgb(0, 1, 61), 2px 0px 0 rgb(0, 1, 61), 0px 2px 0 rgb(0, 1, 61), -2px 0px 0 rgb(0, 1, 61), 0px -2px 0 rgb(0, 1, 61);
    font-family: 'Monday Routines';
    font-weight: bold;
}

.bio-p {
    font-size: 1.2em;
    line-height: 1.5;
    color: yellow;
    padding: 0 50px;
    text-align: center;
    text-shadow: 4px 4px 5px black, 2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), -2px -2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61);
}

a {
    text-decoration: none;
}

.cert-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.certs {
    padding: 0 20px;
    line-height: 1.5;
}

.skills {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Permanent Marker';
    color: #FFFFFF;
    text-shadow: 4px 4px 5px black, 2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), -2px -2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61);
    font-size: clamp(20px, 3vw, 30px);
    font-weight: bold;
    text-align: center;
    padding: 5px 0 20px 0;
}

.fab-info {
    color: #00013d;
    padding: 10px 10px;
}

.line {
    max-height: 2px;
    min-height: 2px;
    border: 2px solid white;
    width: 50%;
    margin: 0 auto;
}

.certs-btn-cont {
    text-align: center;
}

.certs-btn {
    padding: 1rem 3rem;
    font-family: 'Permanent Marker';
    background-color: yellow;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 5px black, 2px 2px 2px rgb(0, 1, 61), 2px -2px 2px rgb(0, 1, 61), -2px 2px 2px rgb(0, 1, 61), -2px -2px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61), 0px 2px 2px rgb(0, 1, 61), -2px 0px 2px rgb(0, 1, 61), 0px -2px 2px rgb(0, 1, 61), 0px 0px 2px rgb(0, 1, 61), 2px 0px 2px rgb(0, 1, 61);
    font-size: clamp(16px, 1.5vw, 24px);
    border-radius: 6px;
}

.certs-modal-cont {
    width: 90vw;
    height: 90vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
}

.certs-modal-close-btn-cont {
    display: flex;
    justify-content: flex-end;
}

.certs-modal-close-btn {
    font-size: clamp(30px, 2.6vw, 40px);;
}