        /* -----FORM------ */

        .modal {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .hidden {
            display: none;
        }
        /* Modal Content/Box */

        .modal-content {
            display: block;
            background-color: rgba(22, 97, 127, 1);
            margin: 5% auto;
            padding: 10px;
            border: 1px solid #888;
            border-radius: 20px;
            width: 50%;
            height: 80%;
            text-align: center;
        }

        label,
        .exit-btn {
            color: white;
            font-family: 'Permanent Marker', cursive;
            text-shadow: 4px 4px 5px black, 2px 2px 0 #fe5353, 2px -2px 0 #fe5353, -2px 2px 0 #fe5353, -2px -2px 0 #fe5353, 2px 0px 0 #fe5353, 0px 2px 0 #fe5353, -2px 0px 0 #fe5353, 0px -2px 0 #fe5353;
        }

        label {
            font-size: clamp(1.5em 5vw 4em);
        }

        .exit-btn {
            font-size: clamp(3vw, 3vw, 3vw);
            display: flex;
            justify-content: flex-end;
        }

        .exit-btn i {
            cursor: pointer;
        }

        .red {
            color: red;
            text-shadow: none;
        }

        input {
            border-radius: 8px;
            box-shadow: 5px 5px 10px black;
            margin: 5px;
        }

        textarea {
            max-width: 90%;
            display: block;
            margin: auto;
            border-radius: 8px;
            box-shadow: 5px 5px 10px black;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        .submit-btn,
        .cancel-btn {
            margin: 5px;
            cursor: pointer;
        }

        .submit-btn:hover,
        .cancel-btn:hover {
            background-color: #fe5353;
        }

        .modal-social {
            margin-top: 10%;
        }

        @media screen and (max-width: 600px) {
            form {
                display: grid;
                grid-template-columns: 1fr;
            }
        }