html,
body {
    background: radial-gradient(circle, rgba(48, 201, 254, 1) 20%, rgba(243, 208, 156, 1) 67%, rgba(254, 83, 83, 1) 82%, rgba(22, 97, 127, 1) 87%, rgba(24, 25, 25, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

#logo {
    display: flex;
    width: 5em;
    margin-left: auto;
    position: relative;
    top: -100%;
}

#main {
    padding: 0;
}

.bio-p {
    font-size: 1.2em;
    color: white;
    padding: 0 50px;
    text-align: center;
    text-shadow: 2px 2px 2px black, 2px 2px 0, 2px -2px 0 #fe5353, -2px 2px 0 #fe5353, -2px -2px 0 #fe5353, 2px 0px 0 #fe5353, 0px 2px 0 #fe5353, -2px 0px 0 #fe5353, 0px -2px 0 #fe5353;
}

a {
    text-decoration: none;
}

.cert-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.certs2,
.certs1 {
    padding: 0 20px;
}

.skills {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Permanent Marker';
    color: #FFFFFF;
    text-shadow: 4px 4px 5px black, 2px 2px 0 rgb(0, 1, 61), 2px -2px 0 rgb(0, 1, 61), -2px 2px 0 rgb(0, 1, 61), -2px -2px 0 rgb(0, 1, 61), 2px 0px 0 rgb(0, 1, 61), 0px 2px 0 rgb(0, 1, 61), -2px 0px 0 rgb(0, 1, 61), 0px -2px 0 rgb(0, 1, 61);
    font-size: 2.3vw;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    /* vertical-align: middle; */
}

.fab-info {
    color: #00013d;
    padding: 10px 10px;
}