.container {
    position: absolute;
    height: 350px;
    width: 800px;
    top: 150px;
    left: calc(50% - 425px);
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    height: 280px;
    width: 200px;
    background: rgb(254, 83, 83);
    border-radius: 10px;
    box-shadow: -5px 5px 10px #000;
    margin-left: 50px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    margin-top: 50px;
    max-height: 100%;
}

.card2 {
    display: block;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    text-align: center;
    color: white;
    font-weight: 300;
    position: absolute;
    top: 15px;
    text-shadow: 4px 4px 5px black, 2px 2px 0 rgb(0, 1, 61), 2px -2px 0 rgb(0, 1, 61), -2px 2px 0 rgb(0, 1, 61), -2px -2px 0 rgb(0, 1, 61), 2px 0px 0 rgb(0, 1, 61), 0px 2px 0 rgb(0, 1, 61), -2px 0px 0 rgb(0, 1, 61), 0px -2px 0 rgb(0, 1, 61);
    width: 100%;
}

.info,
.info-p {
    font-size: 15px;
    margin-top: 30%;
    padding-left: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
}

.info-p {
    font-size: 13px;
}

.fab-div {
    margin-top: 40%;
}

.fab-info {
    color: rgb(0, 1, 61);
    padding: 10px 10px;
    max-height: 100%;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .container {
        height: calc(350px - 50%);
        width: calc(800px - 50%);
        height: 100%;
    }
}