            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                overflow: hidden;
            }
            /** ===========BODY/GRID================ **/
            
            body {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 1fr 3fr 1fr;
                grid-template-areas: "header header" "nav main" "footer footer";
                background-color: pink;
            }
            
            .grid-head {
                grid-area: header;
                background-color: black;
                font-family: 'Voodoo Vampire';
                max-height: 175px;
            }
            
            .grid-head h1 {
                text-align: right;
                font-size: 6vw;
                margin-top: -90px;
                margin-right: 5vw;
                color: green;
            }
            /** ===========NAVIGATION================ **/
            
            .nav {
                grid-area: nav;
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                transition: 0.5s;
                padding-top: 60px;
            }
            
            .nav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }
            
            .nav a:hover {}
            
            .nav .closbtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
            /** ===========MAIN================ **/
            
            .main {
                grid-area: main;
                background-color: chartreuse;
                min-height: 400px;
            }
            /** ===========FOOTER================ **/
            
            .foot {
                display: flex;
                grid-area: footer;
                background-color: black;
                position: fixed;
                bottom: 0;
                right: 0;
                width: 100%;
            }
            /** ===========SOCIAL MEDIA================ **/
            
            .social {
                background-color: darkviolet;
                height: auto;
                margin-left: auto;
                padding: 0 20px;
            }
            /** ===========LOGO/PHOTOS================ **/
            
            #logo {
                display: flex;
                width: 100px;
                margin: auto;
            }